<div class="modal fade" id="popUpWindow">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- header -->
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title text-right">ارتباط با ما</h3>
                                    </div>

                                    <!-- body (form) -->
                                    <div class="modal-body">
                                        <form role="form">
                                            <div class="form-group">
                                                <input type="text" class="form-control text-right"
                                                       placeholder="نام و نام‌خانوادگی">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control text-right"
                                                       placeholder="آدرس پست الکترونیکی">
                                            </div>
                                            <div class="form-group">
                                                <input type="tel" class="form-control text-right"
                                                       placeholder="شماره تماس">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control text-right"
                                                       placeholder="عنوان پیام">
                                            </div>
                                            <div class="form-group">
                                                <label for="sel1" style="display:block; text-align:right;">ارتباط
                                                    با</label>
                                                <select dir="rtl" class="form-control text-right" id="sell">
                                                    <option class="text-right">مدیریت</option>
                                                    <option>روابط عمومی</option>
                                                    <option>حسابداری</option>
                                                    <option>جذب همیاری</option>
                                                    <option>سایر</option>
                                                </select>
                                            </div>
                                            <div class="form-group text-right">
                                                <label for="comment">متن</label>
                                                <textarea class="form-control" rows="5" id="comment"></textarea>
                                            </div>

                                        </form>
                                    </div>

                                    <!-- button -->
                                    <div class="modal-footer">
                                        <button class="btn btn-primary btn-block" style="background: #850032">ثبت
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
